  * {
      padding: 0;
      margin: 0;
  }
  
  .publi1 {
      display: none;
  }
  
  .publi2 {
      display: flex;
  }
  
  .rosa {
      border: 5px solid pink;
  }
  
  .azul {
      border: 5px solid blue;
  }
  
  #form {
      border: 2px solid #333;
  }
  
  .login {
      min-height: 60vh;
  }
  
  @media (min-width:992px) {
      .publi2 {
          display: none;
      }
      .publi1 {
          display: flex;
      }
  }