#ofertas {
    transition: color 3s, background 3s, font-size 3s;
}

#ofertas:hover {
    font-size: 3em;
    color: #6699dd;
    background: #eeeeee;
    border-bottom: 5px dotted #6699dd;
}

.img-oferta {
    transition: 3s;
}

.img-oferta:hover {
    transform: translateY(25vh);
}

.oferta {
    min-height: 500px;
    height: 40vh;
}